<section class="container-fluid">
  <div class="row">
    <div class="col-12 banner">
      <div class="col-12 col-sm-4 offset-sm-4">
        <h1>where do you want to <strong>mappet</strong> today?</h1>
        <p>
          Enjoy your pet life with your owner. Discover those wonderful
          places that will make you live fantastic experiences.
        </p>
        <p>Start looking for what you most want to do today:</p>
        <form action="/" method="POST">
          <select class="form-control form-control-lg popup" onchange="getvalue(event)">
            <option value="null">Select one...</option>
            {{#each allCategories as |category|}}
            <option value="{{category.id}}">{{category.name}}</option>
            {{/each}}
          </select>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="container-fluid attributtes">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="row">
          <div class="col-12 card">
            <div class="card-header icon">
              <img src="./images/search-location.svg" alt="look up for locations" />
            </div>
            <div class="card-body">
              <h3>A Right Media Mix Can Make The Difference</h3>
              <p class="card-text">
                Far far away, behind the word mountains, far from the
                countries Vokalia and Consonantia, there live the blind
                texts
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="row">
          <div class="col-12 card">
            <div class="card-header icon">
              <img src="./images/hearth-white.svg" alt="look up for locations" />
            </div>
            <div class="card-body">
              <h3>Truck Side Advertising Isn T It Time</h3>
              <p class="card-text">
                Far far away, behind the word mountains, far from the
                countries Vokalia and Consonantia, there live the blind
                texts
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="row">
          <div class="col-12 card">
            <div class="card-header icon">
              <img src="./images/pets.svg" alt="look up for locations" />
            </div>
            <div class="card-body">
              <h3>
                Consumer Psychology In The Industrial And Manufacturing
                Equipment Marketplace
              </h3>
              <p class="card-text">
                Far far away, behind the word mountains, far from the
                countries Vokalia and Consonantia, there live the blind
                texts
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid lastest-spots">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">lastest spots</h1>
      </div>

      <div class="col-12">
        <div class="slider lastest-spots-slider">
          {{#each values as |value|}}
          <div class="card col-12 col-sm-4">
            <picture>
              <img class="card-img-top"
                src="{{#if value.pictures.[0]}}{{value.pictures.[0]}}{{else}}https://res.cloudinary.com/dutvbml2i/image/upload/v1599250707/mappet/nofile_eabd8z.jpg{{/if}}"
                alt="Card image cap">
              <h3 class="card-title">
                <span class="cat-label">
                  {{#each value.category as |label|}}
                  <a href="/{{label}}" class="label-pill">{{label}}</a>
                  {{/each}}
                </span>
                {{value.name}}
              </h3>
            </picture>
            <div class="card-body">
              <a href="/{{category.[0]}}/{{value._id}}" class="go-single">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-right" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                  <path fill="#fff"
                    d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"
                    class=""></path>
                </svg></a>
              <div class="info">
                <div class="rating col-5">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.15 55.1" fill="#ea7676">
                    <path
                      d="M28.58,12.7C18,12.7,10.32,21.27,10.32,31.83c0,7.31,8.28,16.59,13.92,21.62a6.52,6.52,0,0,0,8.67,0c5.64-5,13.93-14.31,13.93-21.62C46.84,21.27,39.14,12.7,28.58,12.7Z" />
                    <circle cx="52.4" cy="16.26" r="4.75" />
                    <circle cx="4.75" cy="16.26" r="4.75" />
                    <circle cx="18.64" cy="4.75" r="4.75" />
                    <circle cx="39.46" cy="4.75" r="4.75" />
                  </svg>
                  <span class="value-rate">{{average value.rate}}</span> / 5</div>
                <div class="city col-7 text-right">{{value.city}}
                  <span class="added"><strong>added</strong> {{date value.createdAt}}</span>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</section>

<section class="module categories-bg"></section>

<section class="container-fluid categories">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="title">browse by categories</h1>
      </div>
      <div class="col-12">
        <div class="row cat-items justify-content-center">
          {{#each allCategories as |category|}}
          <div class="col-sm-2 col-4">
            <a href="/{{category.id}}" class="col-12 cat-card">
              <span
                class="mappet-{{#ifvalue category.id equals = "ong"}}bone{{else}}{{category.id}}{{/ifvalue}}"></span>
              <p>{{category.name}}</p>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid lastest-spots" style="padding: 10rem 0;">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title m-0">blog</h1>
        <p class="mb-5">The last <strong>trending</strong> articles.</p>
      </div>

      <div class="col-12">
        <div class="slider lastest-spots-slider">
          {{#each posts as |post|}}
          <div class="col-12 col-sm-4 spot-card">
            <div class="col-12 spot-block" style="
                background: url({{post.picPath}}) no-repeat center center /
                  cover;
              ">
              <div class="text-overflow">
                <span class="space">
                  <div class="date">{{date post.createdAt}}</div>

                  <span class="with-border">
                    <h4>
                      <strong>{{post.title}}</strong>
                    </h4>
                    <a href="/" class="single">
                      <strong>Read More</strong>
                      <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="angle-right" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                        <path fill="#fff"
                          d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"
                          class=""></path>
                      </svg>
                    </a>
                  </span>
                </span>
              </div>
            </div>
            <div class="details">
              <div class="author-block">
                <span class="avatar" style="
                    background: url(./images/cat-owner.jpg) no-repeat center
                      center / cover;
                  "></span>
                <a href="/user/{{post.authorId._id}}" class="author-name">{{post.authorId.username}}</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</section>