<style>
  body {
    background: #35396e;
  }
</style>
<section class="container-fluid banner p-0" style="height: 73vh;">
  <div class="container-fluid results map-container">
    <div class="container">
      <div class="row">
        <div class="col-12 map">
          <h1 class="title"><span class="mappet-{{#ifvalue cat equals = "Ong"}}bone{{else}}{{small cat}}{{/ifvalue}}"></span> view {{cat}} spots in map</h1>
          <button type="button" onclick="window.history.back()">volver</button>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const spots = {{{spots}}}
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: {lat: 40.416906, lng: -3.7056721}
    });
    setMarkers(map);
  }

  const {{{cat}}} =[]

  spots.forEach(el => {
    let i = 1
    {{{cat}}}.push([el.name, el.lat, el.lng, el.content, el.url, el.pictures[0], i++])
  })

  function setMarkers(map) {
    const image = {
      url:
        `/images/{{{name}}}.png`,
      size: new google.maps.Size(28, 32),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(0, 32)
    };

    for (let i = 0; i < {{{cat}}}.length; i++) {
    const restaurant = {{{cat}}}[i];

  const contentString =
    `<div class="container-fluid google-map"> 
      <div class="row">
        <div class="col-12 col-sm-6 siteNotice" style="background: url(${restaurant[5]}) no-repeat center center / cover">
        </div>
        <div class="col-12 col-sm-6 siteNotice">
          <h1 class="title">${restaurant[0]}</h1> 
          <div class="bodyContent"> 
            <p>${restaurant[3]}</p> 
            Visit our website at: <a href="${restaurant[4]}" target="_new">${restaurant[4]}</a>  
          </div> 
        </div>
      </div>
    </div>`;

  const infowindow = new google.maps.InfoWindow({
    content: contentString
  })

  const marker = new google.maps.Marker({
    position: {lat: restaurant[1], lng: restaurant[2]},
    map,
    icon: image,
    title: restaurant[0],
    zIndex: restaurant[3]
  });

  marker.addListener('click', () => {
    infowindow.open(map, marker)
  })
    }

  }
</script>